{% extends 'user_base.html' %}

{% block user_title %}Send password reset email {% endblock user_title %}

{% block user_content %}
<h2>Forgot your password?</h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}

        {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}

        {{field.label}}
        {{field}}
        <br>
    {% endfor %}

    <button type="submit">Send reset email</button>
</form>
{% endblock user_content %}